<header>
    <nav>
        <ul>
            <li class="home"><a href="/">HOME</a></li>
            <li><a href="/">Lista de productos</a></li>
            <li><a href="/login">Iniciar sesión</a></li>
        </ul>
    </nav>
</header>